langchain-core==0.1.46
langchain-community==0.0.21
langchain-text-splitters==0.0.1

faiss-cpu
transformers==4.48.0
sentence-transformers==2.2.2
torch

unstructured
pdfminer.six
python-docx
python-pptx
tqdm

python-magic-bin ; sys_platform == "win32"
python-magic ; sys_platform != "win32"