langchain-community
langchain-text-splitters

faiss-cpu
transformers==4.48.0
sentence-transformers==2.2.2
torch

unstructured
pdfminer.six
python-docx
python-pptx
tqdm

python-magic-bin ; sys_platform == "win32"
python-magic ; sys_platform != "win32"